.wpd-css h1 {
    color: #58595B;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    border-bottom: 1px solid #D2D3D4;
    padding-top: 14px;
    margin: 14px 20px 14px 20px;
    font-family: Bitter, Georgia, serif;
}

.wpd-css h2 {
    color: #58595B;
    display: inline;
    font-family: Bitter, Georgia, serif;
    font-size: 20px;
    font-weight: normal;
    height: auto;
    width: auto;
    margin: 14px 20px 14px 20px;
}

.css-prop-val2 {
    border-bottom-color: #E2E3E4;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #3C3C3C;
    display: block;
    font-family: Gudea, Arial, sans-serif;
    font-size: 14px;  
}

div.css-prop-values {
    margin-top: 14px;
}

div.css-prop-val {
    margin: 0px 0px 0px 20px;
}

.css-prop-val code {
    color: #3C3C3C;
    display: inline;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 14px;
    font-weight: bold;
}

.css-prop-val dl {
    color: #3C3C3C;
    display: block;
    font-family: Gudea, Arial, sans-serif;
    font-size: 14px;
    margin: 14px 14px 0px 0px;
}

.css-prop-val dt > p {
    color: #000000;
    display: block;
    font-family: Gudea, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 7px;
}

.css-prop-val dd {
    color: #3C3C3C;
    display: block;
    font-family: Gudea, Arial, sans-serif;
    font-size: 14px;
    margin-left: 22.4px;
    margin-right: 0px;
    padding-bottom: 0px;
}

.css-prop-summary p {
    line-height: 24px;
    margin: 0px 20px 0px 20px;
    color: #3C3C3C;
    font-family: Gudea, Arial, sans-serif;
    font-size: 14px;    
}

.wpd-css p.more-info {
    margin-top: 10px;
}