.css-prop-defn {
    margin-left: 20px;
}

div.css-prop-values {
    margin-top: 14px;
}

div.css-prop-val {
    margin: 0px 0px 0px 20px;
}

.css-prop-val code {
    color: #3C3C3C;
    display: inline;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 14px;
    font-weight: bold;
}

.css-prop-values dl {
    color: #3C3C3C;
    display: block;
    font-family: Gudea, Arial, sans-serif;
    font-size: 14px;
    margin: 14px 14px 0px 0px;
}

.css-prop-values dt > p {
    color: #000000;
    display: block;
    font-family: Gudea, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 7px;
}

.css-prop-values dd {
    color: #3C3C3C;
    display: block;
    font-family: Gudea, Arial, sans-serif;
    font-size: 14px;
    margin-left: 22.4px;
    margin-right: 0px;
    padding-bottom: 0px;
}

.css-prop-summary p {
    line-height: 24px;
    margin: 0px 20px 0px 20px;
    color: #3C3C3C;
    font-family: Gudea, Arial, sans-serif;
    font-size: 14px;    
}

p.more-info {
    margin-top: 20px;
}